.version._____1 /* version checker */
{
	color: #0000E4;
	background-color: #1A9252;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1178.6499999999996px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -50px;
}

#u1827,#u1827-bw
{
	z-index: 2;
	height: 732px;
}

#u2032
{
	z-index: 3;
	padding-bottom: 93px;
}

#u834
{
	z-index: 36;
	width: 146px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 90px;
}

#u2117
{
	z-index: 78;
	width: 50px;
	margin-right: -10000px;
	margin-top: 595px;
	left: 364px;
}

#pmenuu797
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 614px;
}

#menuu797
{
	z-index: 5;
	width: 446px;
}

#u805
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u806
{
	width: 87px;
	padding-bottom: 12px;
}

#u807-4
{
	width: 87px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u812
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u815
{
	width: 87px;
	padding-bottom: 12px;
}

#u818-4
{
	width: 87px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u798
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u801
{
	width: 88px;
	padding-bottom: 12px;
}

#u803-4
{
	width: 88px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u819
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u820
{
	width: 88px;
	padding-bottom: 12px;
}

#u823-4
{
	width: 88px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u826
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u827
{
	width: 88px;
	padding-bottom: 12px;
}

#u806.MuseMenuActive,#u815.MuseMenuActive,#u801.MuseMenuActive,#u820.MuseMenuActive,#u827.MuseMenuActive
{
	margin: 0px;
}

#u829-4
{
	width: 88px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u806.MuseMenuActive #u807-4,#u815.MuseMenuActive #u818-4,#u801.MuseMenuActive #u803-4,#u820.MuseMenuActive #u823-4,#u827.MuseMenuActive #u829-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2114
{
	z-index: 76;
	width: 50px;
	margin-left: 133px;
	margin-top: 525px;
}

#u2032-bw
{
	z-index: 3;
	height: 645px;
}

#u2208-4
{
	z-index: 80;
	width: 339px;
	min-height: 84px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 615px;
	left: 411px;
}

#pu833-4
{
	width: 0.01px;
	padding-bottom: 280px;
	margin-left: 117px;
	margin-top: -534px;
}

#u833-4
{
	z-index: 50;
	width: 268px;
	min-height: 26px;
	top: 154px;
	left: 117px;
}

#u1829-12
{
	z-index: 38;
	width: 399px;
	min-height: 64px;
	top: 304px;
	left: 281px;
}

#u2033-4
{
	z-index: 54;
	width: 268px;
	min-height: 26px;
	top: 154px;
	left: 588px;
}

#read
{
	left: -85px;
	margin-top: 31px;
	position: relative;
}

#pu2471-11
{
	width: 0.01px;
	margin-left: 104px;
	margin-top: 48px;
}

#u2471-11
{
	z-index: 85;
	width: 752px;
	min-height: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2471-2
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #7F7F7F;
}

#u2471-7
{
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	color: #999999;
}

#u2475
{
	z-index: 118;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 258px;
}

#u2521-4
{
	z-index: 147;
	width: 134px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #333366;
	text-align: left;
	font-style: italic;
	left: -91px;
	margin-top: 6px;
	position: relative;
}

#u2469
{
	z-index: 84;
	border-color: #000000;
	background-color: #EAEAEA;
	background-color: rgba(153, 153, 153, 0.2);
	-pie-background: rgba(153, 153, 153, 0.2);
}

#u2522-4
{
	z-index: 151;
	width: 134px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #333366;
	text-align: left;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 325px;
	left: 9px;
}

#u2472-10
{
	z-index: 96;
	width: 752px;
	min-height: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 204px;
}

#u2469-bw
{
	z-index: 84;
	height: 360px;
}

#u2487
{
	z-index: 120;
	width: 79px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 541px;
}

#u2474
{
	z-index: 117;
	border-color: #000000;
	background-color: #333366;
	padding-bottom: 8px;
}

#u2469_align_to_page,#u2474_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u2524-4
{
	z-index: 159;
	width: 134px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 330px;
	left: 9px;
}

#u2507-10
{
	z-index: 122;
	width: 752px;
	min-height: 240px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 204px;
}

#u2507-2
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
}

#u2507-3,#u2507-4,#u2507-5,#u2507-7
{
	font-size: 18px;
	line-height: 22px;
}

#u2474-bw
{
	z-index: 117;
	height: 365px;
}

#u2508
{
	z-index: 132;
	width: 79px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 541px;
}

#pu2523-4
{
	width: 0.01px;
	margin-left: -94px;
	margin-top: 92px;
}

#u2523-4
{
	z-index: 155;
	width: 134px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #333366;
	text-align: left;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
}

#ppu2473-11
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 170px;
}

#pu2473-11
{
	width: 0.01px;
	margin-left: 28px;
}

#u2473-11
{
	z-index: 106;
	width: 752px;
	min-height: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2472-2,#u2473-2,#u2473-3
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #333366;
}

#u2471-3,#u2471-4,#u2471-5,#u2472-3,#u2472-4,#u2472-5,#u2472-7,#u2473-4,#u2473-6,#u2473-8
{
	font-size: 18px;
	line-height: 22px;
	color: #333366;
}

#u2512
{
	z-index: 135;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 258px;
}

#u2516-4
{
	z-index: 137;
	width: 808px;
	min-height: 41px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #333366;
	text-align: center;
	margin-top: 13px;
	position: relative;
}

#u2519
{
	z-index: 141;
	width: 114px;
	border-color: #000000;
	background-color: #333366;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 1px;
	margin-left: 427px;
	margin-top: 42px;
	position: relative;
}

#u2518-4
{
	z-index: 142;
	width: 117px;
	min-height: 29px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u2511
{
	z-index: 134;
	width: 50px;
	height: 45px;
	border-color: #000000;
	background-color: #FFFFFF;
	left: -77px;
	margin-top: 9px;
	position: relative;
}

#pu1827,#pu2469,#pu2474,#pu1830
{
	width: 0.01px;
	margin-left: -100px;
}

#u1830
{
	z-index: 4;
	height: 158px;
}

#u1830-bw
{
	z-index: 4;
	margin-top: 1px;
	height: 158px;
}

#u2075
{
	z-index: 58;
	padding-bottom: 19px;
}

#u2032_align_to_page,#u2075_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1596
{
	z-index: 59;
	width: 32px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 49px;
}

#u1590
{
	z-index: 61;
	width: 32px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 104px;
}

#u1602
{
	z-index: 63;
	width: 32px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 166px;
}

#u1614
{
	z-index: 65;
	width: 32px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 228px;
}

#u2085-9
{
	z-index: 67;
	width: 443px;
	min-height: 120px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 358px;
}

#u2075-bw
{
	z-index: 58;
	height: 140px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 50px;
}

#page .verticalspacer
{
	clear: both;
}

