.version.index /* version checker */
{
	color: #00001A;
	background-color: #2D9D6E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2417px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#menuu420
{
	z-index: 2;
	width: 446px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 614px;
}

#u421
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u422
{
	width: 87px;
	padding-bottom: 12px;
}

#u425-4
{
	width: 87px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u449
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u452
{
	width: 87px;
	padding-bottom: 12px;
}

#u453-4
{
	width: 87px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u435
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u438
{
	width: 88px;
	padding-bottom: 12px;
}

#u439-4
{
	width: 88px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u428
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u429
{
	width: 88px;
	padding-bottom: 12px;
}

#u430-4
{
	width: 88px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u442
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u443
{
	width: 88px;
	padding-bottom: 12px;
}

#u446-4
{
	width: 88px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u76
{
	z-index: 37;
	height: 753px;
	border-color: #000000;
	background: #FFFFFF url("../images/mavel-u76-fr.png") repeat left top;
	background-color: rgba(255, 255, 255, 0.65);
}

#u76-bw
{
	z-index: 37;
	height: 753px;
}

#u83
{
	z-index: 38;
	border-color: #000000;
	background-color: #B7B7B7;
	background-color: rgba(153, 153, 153, 0.7);
	padding-bottom: 181px;
	-pie-background: rgba(153, 153, 153, 0.7);
}

#u373
{
	z-index: 76;
	width: 146px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 108px;
}

#ppu530-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 254px;
}

#pu530-4
{
	width: 0.01px;
}

#u530-4
{
	z-index: 93;
	width: 169px;
	min-height: 26px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#menuu273
{
	z-index: 45;
	width: 446px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#u295
{
	width: 87px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u296
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u422.MuseMenuActive,#u452.MuseMenuActive,#u438.MuseMenuActive,#u429.MuseMenuActive,#u443.MuseMenuActive,#u296.MuseMenuActive
{
	margin: 0px;
}

#u298-4
{
	width: 87px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 0px;
}

#u281
{
	width: 87px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 89px;
}

#u282
{
	width: 87px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u285-4
{
	width: 87px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u288
{
	width: 88px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 178px;
}

#u293-4
{
	width: 88px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u302
{
	width: 88px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 268px;
}

#u306-4
{
	width: 88px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u274
{
	width: 88px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 358px;
}

#u291,#u303,#u275
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u276-4
{
	width: 88px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u422.MuseMenuActive #u425-4,#u452.MuseMenuActive #u453-4,#u438.MuseMenuActive #u439-4,#u429.MuseMenuActive #u430-4,#u443.MuseMenuActive #u446-4,#u296.MuseMenuActive #u298-4,#u282.MuseMenuActive #u285-4,#u291.MuseMenuActive #u293-4,#u303.MuseMenuActive #u306-4,#u275.MuseMenuActive #u276-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u296.MuseMenuActive #u298-4 p,#u282.MuseMenuActive #u285-4 p,#u291.MuseMenuActive #u293-4 p,#u303.MuseMenuActive #u306-4 p,#u275.MuseMenuActive #u276-4 p
{
	font-size: 18px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u84-6
{
	z-index: 39;
	width: 388px;
	min-height: 60px;
	background-color: transparent;
	text-align: center;
	font-family: Comic Sans, Comic Sans MS, cursive;
	margin-left: 133px;
	margin-top: 152px;
	position: relative;
}

#u84-2
{
	font-size: 101px;
	line-height: 121px;
	color: #F6FFD5;
}

#u84-4
{
	font-size: 48px;
	line-height: 58px;
	color: #FFFFFF;
}

#u83-bw
{
	z-index: 38;
	height: 572px;
}

#pu669
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 78px;
}

#u669
{
	z-index: 97;
	border-color: #000000;
	background: #FFFFFF url("../images/%e5%9b%be%e7%89%871.jpg") no-repeat left top;
	background-size: cover;
}

#u669_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 8px;
	padding-bottom: 234px;
}

#pu670-4
{
	width: 0.01px;
	left: 316px;
	position: relative;
}

#u670-4
{
	z-index: 98;
	width: 515px;
	min-height: 61px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	color: #837F7F;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u1533
{
	z-index: 193;
	width: 202px;
	height: 4px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 521px;
	border-width: 2px 0px 0px;
}

#pu689-4
{
	width: 0.01px;
	left: 26px;
	margin-top: 39px;
	position: relative;
}

#u689-4
{
	z-index: 106;
	width: 250px;
	min-height: 35px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #333366;
	text-align: left;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u671-4
{
	z-index: 102;
	width: 154px;
	min-height: 35px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #333366;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 492px;
}

#u690-4
{
	z-index: 110;
	width: 182px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #333366;
	text-align: center;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 852px;
}

#pu1451
{
	width: 0.01px;
	left: 57px;
	margin-top: 14px;
	position: relative;
}

#u1451
{
	z-index: 154;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1454
{
	z-index: 156;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 405px;
}

#u1457
{
	z-index: 158;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 793px;
}

#pu691-4
{
	width: 0.01px;
	left: 52px;
	margin-top: 36px;
	position: relative;
}

#u691-4
{
	z-index: 114;
	width: 247px;
	min-height: 180px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u692-4
{
	z-index: 118;
	width: 247px;
	min-height: 180px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u693-4
{
	z-index: 122;
	width: 247px;
	min-height: 180px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 793px;
}

#u1701-7
{
	z-index: 196;
	width: 484px;
	min-height: 49px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #999999;
	text-align: center;
	left: 353px;
	margin-top: 30px;
	position: relative;
}

#u1701-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1701,#u1701-3
{
	line-height: 36px;
}

#u1701-2,#u1701-4
{
	font-size: 36px;
	color: #333366;
	line-height: 43px;
}

#u1702
{
	z-index: 203;
	width: 236px;
	background-color: transparent;
	left: 477px;
	margin-top: 27px;
	position: relative;
}

#u669-bw
{
	z-index: 97;
	height: 743px;
}

#u702
{
	z-index: 127;
	border-color: #000000;
	background-color: #3F3F6F;
	background-color: rgba(51, 51, 102, 0.94);
	padding-bottom: 79px;
	-pie-background: rgba(51, 51, 102, 0.94);
}

#pu711-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 228px;
	margin-left: 76px;
}

#u711-4
{
	z-index: 137;
	width: 135px;
	min-height: 42px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
	margin-left: 24px;
	position: relative;
}

#u1460
{
	z-index: 160;
	width: 79px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 5px;
	position: relative;
}

#u1712-8
{
	z-index: 208;
	width: 159px;
	min-height: 54px;
	background-color: transparent;
	margin-top: 72px;
	position: relative;
}

#u1709
{
	z-index: 205;
	vertical-align: top;
	width: 2px;
	height: 241px;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 302px;
	background: url("../images/u1709.png") no-repeat 0px 0px;
}

#pu703-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 323px;
}

#u703-5
{
	z-index: 128;
	width: 515px;
	min-height: 61px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	color: #837F7F;
	text-align: center;
	position: relative;
}

#pu712-4
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 45px;
}

#u712-4
{
	z-index: 141;
	width: 135px;
	min-height: 42px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u710-4
{
	z-index: 133;
	width: 135px;
	min-height: 42px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#pu1469
{
	width: 0.01px;
	margin-left: 71px;
	margin-top: 7px;
}

#u1469
{
	z-index: 166;
	width: 79px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1466
{
	z-index: 164;
	width: 79px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 276px;
}

#pu1713-11
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 60px;
}

#u1713-11
{
	z-index: 216;
	width: 159px;
	min-height: 169px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u703-2,#u1713,#u1713-4
{
	color: #FFFFFF;
}

#u1710
{
	z-index: 206;
	vertical-align: top;
	width: 2px;
	height: 241px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 227px;
	background: url("../images/u1710.png") no-repeat 0px 0px;
}

#u1714-16
{
	z-index: 227;
	width: 159px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 277px;
}

#u1711
{
	z-index: 207;
	vertical-align: top;
	width: 2px;
	height: 241px;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 847px;
	background: url("../images/u1711.png") no-repeat 0px 0px;
}

#pu713-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 228px;
	margin-left: 924px;
}

#u713-4
{
	z-index: 145;
	width: 135px;
	min-height: 42px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
	margin-left: 1px;
	position: relative;
}

#u1463
{
	z-index: 162;
	width: 79px;
	background-color: transparent;
	margin-left: 37px;
	margin-top: 5px;
	position: relative;
}

#u1715-8
{
	z-index: 243;
	width: 159px;
	min-height: 54px;
	background-color: transparent;
	margin-top: 72px;
	position: relative;
}

#u1712-2,#u1712-3,#u1712-5,#u1713-2,#u1713-3,#u1713-5,#u1713-6,#u1713-8,#u1714-2,#u1714-3,#u1714-5,#u1714-6,#u1714-8,#u1714-9,#u1714-11,#u1714-12,#u1714-13,#u1715-2,#u1715-3,#u1715-5
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
}

#u702-bw
{
	z-index: 127;
	margin-top: 540px;
	height: 556px;
}

#u1532
{
	z-index: 192;
	width: 202px;
	height: 2px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 120px;
	border-width: 2px 0px 0px;
}

#pu2005
{
	width: 0.01px;
	padding-bottom: 32px;
	margin-left: 186px;
	margin-top: -546px;
}

#u2005
{
	z-index: 283;
	width: 32px;
	background-color: transparent;
	position: fixed;
	top: 1460px;
	left: 186px;
}

#u1512
{
	z-index: 184;
	width: 32px;
	background-color: transparent;
	position: fixed;
	top: 1460px;
	left: 731px;
}

#u695
{
	z-index: 126;
	border-color: #000000;
	background: #F8F8F8 url("../images/marvel%e6%bc%ab%e7%94%bb-u695-fr.png") repeat left top;
	background-color: rgba(153, 153, 153, 0.06);
}

#u695_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 73px;
	padding-bottom: 25px;
}

#u783-5
{
	z-index: 149;
	width: 515px;
	min-height: 61px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	color: #837F7F;
	text-align: center;
	left: 323px;
	position: relative;
}

#u783-2
{
	color: #333366;
}

#pu1500
{
	width: 0.01px;
	left: 200px;
	margin-top: 52px;
	position: relative;
}

#u1500
{
	z-index: 180;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1503
{
	z-index: 182;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#ppu1489-4
{
	width: 0.01px;
	left: 115px;
	margin-top: 64px;
	position: relative;
}

#pu1489-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 102px;
}

#u1489-4
{
	z-index: 168;
	width: 123px;
	min-height: 26px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #333366;
	text-align: center;
	margin-left: 2px;
	position: relative;
}

#u1872
{
	z-index: 258;
	vertical-align: top;
	width: 62px;
	height: 3px;
	margin-left: 32px;
	margin-top: 12px;
	position: relative;
	background: url("../images/u1872.png") no-repeat 0px 0px;
}

#u1878-4
{
	z-index: 262;
	width: 112px;
	min-height: 11px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #999999;
	text-align: center;
	margin-top: 27px;
	position: relative;
}

#u1724
{
	z-index: 255;
	vertical-align: top;
	width: 2px;
	height: 241px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
	background: url("../images/u1724.png") no-repeat 0px 0px;
}

#pu1490-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 102px;
	margin-left: 256px;
}

#u1490-4
{
	z-index: 172;
	width: 133px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #333366;
	text-align: center;
	position: relative;
}

#u1873
{
	z-index: 259;
	vertical-align: top;
	width: 62px;
	height: 3px;
	margin-left: 42px;
	margin-top: 13px;
	position: relative;
	background: url("../images/u1873.png") no-repeat 0px 0px;
}

#u1879-4
{
	z-index: 266;
	width: 99px;
	min-height: 11px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #999999;
	text-align: center;
	margin-left: 22px;
	margin-top: 26px;
	position: relative;
}

#u1726
{
	z-index: 256;
	vertical-align: top;
	width: 2px;
	height: 241px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 465px;
	background: url("../images/u1726.png") no-repeat 0px 0px;
}

#pu1491-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 102px;
	margin-left: 542px;
}

#u1491-4
{
	z-index: 176;
	width: 114px;
	min-height: 29px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #333366;
	text-align: center;
	position: relative;
}

#u1875
{
	z-index: 260;
	vertical-align: top;
	width: 62px;
	height: 3px;
	margin-left: 24px;
	margin-top: 14px;
	position: relative;
	background: url("../images/u1875.png") no-repeat 0px 0px;
}

#u1880-4
{
	z-index: 270;
	width: 99px;
	min-height: 11px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #999999;
	text-align: center;
	margin-left: 8px;
	margin-top: 25px;
	position: relative;
}

#u1728
{
	z-index: 257;
	vertical-align: top;
	width: 2px;
	height: 241px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 732px;
	background: url("../images/u1728.png") no-repeat 0px 0px;
}

#pu1721-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 102px;
	margin-left: 819px;
}

#u1721-4
{
	z-index: 251;
	width: 106px;
	min-height: 36px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #333366;
	text-align: center;
	position: relative;
}

#u1876
{
	z-index: 261;
	vertical-align: top;
	width: 62px;
	height: 3px;
	margin-left: 22px;
	margin-top: 13px;
	position: relative;
	background: url("../images/u1876.png") no-repeat 0px 0px;
}

#u1881-4
{
	z-index: 274;
	width: 99px;
	min-height: 11px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #999999;
	text-align: center;
	margin-left: 11px;
	margin-top: 26px;
	position: relative;
}

#u1983-4
{
	z-index: 278;
	width: 413px;
	min-height: 47px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #333366;
	text-align: center;
	left: 374px;
	margin-top: 55px;
	position: relative;
}

#u2529
{
	z-index: 286;
	width: 236px;
	background-color: transparent;
	left: 462px;
	margin-top: 13px;
	position: relative;
}

#u695-bw
{
	z-index: 126;
	height: 658px;
}

#u1518
{
	z-index: 186;
	width: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #333366;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 299px;
}

#u1520
{
	z-index: 188;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u1519
{
	z-index: 187;
	width: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #333366;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 829px;
}

#u1526
{
	z-index: 190;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#pu2008
{
	width: 0.01px;
	padding-bottom: 69px;
	margin-left: 52px;
	margin-top: -408px;
}

#u2008
{
	z-index: 285;
	width: 39px;
	height: 58px;
	position: fixed;
	top: 2256px;
	left: 52px;
	background: transparent url("../images/gangtou-u2008-fr.png") no-repeat left top;
	background-size: contain;
}

#u1999
{
	z-index: 282;
	width: 53px;
	height: 53px;
	position: fixed;
	top: 2256px;
	left: 316px;
	background: transparent url("../images/%e6%9c%aa%e6%a0%87%e9%a2%98-2-u1999-fr.png") no-repeat left top;
	background-size: contain;
}

#u1583
{
	z-index: 195;
	width: 45px;
	height: 63px;
	position: fixed;
	top: 2256px;
	left: 592px;
	background: transparent url("../images/haokshou-u1583-fr.png") no-repeat left top;
	background-size: contain;
}

#u1565
{
	z-index: 194;
	width: 46px;
	height: 63px;
	position: fixed;
	top: 2262px;
	left: 871px;
	background: transparent url("../images/%e5%b0%8f%e9%94%a4%e5%ad%90-u1565-fr.png") no-repeat left top;
	background-size: contain;
}

#pu406
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: -45px;
}

#u406
{
	z-index: 91;
	width: 278px;
	height: 36px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	border-width: 5px 0px 0px;
}

#u408
{
	z-index: 92;
	width: 278px;
	height: 36px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 509px;
	border-width: 5px 0px 0px;
}

#pmenuu420,#pu695,#pu400-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u400-3
{
	z-index: 33;
	min-height: 200px;
	border-color: #000000;
	background: #336699 url("../images/mavel.jpg") repeat left top;
}

#u400-3-bw
{
	z-index: 33;
	min-height: 200px;
	height: 200px;
}

#u405
{
	z-index: 36;
	border-color: #000000;
	background-color: #B7B7B7;
	background-color: rgba(153, 153, 153, 0.7);
	-pie-background: rgba(153, 153, 153, 0.7);
}

#u83_align_to_page,#u702_align_to_page,#u405_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u393-13
{
	z-index: 78;
	width: 325px;
	min-height: 59px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 429px;
}

#u393-2
{
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
}

#u393-3
{
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	color: #336699;
}

#u393-5,#u393-7
{
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	color: #F6FFD5;
}

#u393-8
{
	color: #F6FFD5;
}

#u393-10,#u393-11
{
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	color: #FFFFFF;
}

#u405-bw
{
	z-index: 36;
	height: 200px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

