#u1827
{
	border-color: #000000;
	background: #333366 url("../images/mavel2.jpg") repeat-x left top;
}

#u2032
{
	border-color: #000000;
	background-color: #B2B2B2;
	background-color: rgba(153, 153, 153, 0.75);
	-pie-background: rgba(153, 153, 153, 0.75);
}

#menuu797
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u834,#u2117,#u805,#u806
{
	background-color: transparent;
	position: relative;
}

#u807-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u812,#u815
{
	background-color: transparent;
	position: relative;
}

#u818-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u798,#u801
{
	background-color: transparent;
	position: relative;
}

#u803-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u819,#u820
{
	background-color: transparent;
	position: relative;
}

#u823-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u826,#u827
{
	background-color: transparent;
	position: relative;
}

#u829-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u833-4
{
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	color: #F6FFD5;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	position: fixed;
}

#u1829-12
{
	background-color: transparent;
	text-align: center;
	position: fixed;
}

#u1829-6
{
	font-size: 30px;
	line-height: 36px;
	color: #F6FFD5;
}

#u1829-4
{
	color: #FFFFFF;
}

#u1829-3,#u1829-9
{
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
}

#u1829-10
{
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}

#u2033-4
{
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	color: #FFFFFF;
	text-align: center;
	font-style: italic;
	position: fixed;
}

#u1830
{
	border-color: #000000;
	background: #333366 url("../images/8139d041d65c194a28a7b4d126568dc6.jpg") repeat-x left top;
}

#u2075
{
	border-color: #000000;
	background-color: #B2B2B2;
	background-color: rgba(153, 153, 153, 0.75);
	-pie-background: rgba(153, 153, 153, 0.75);
}

#u2032_align_to_page,#u2075_align_to_page
{
	position: relative;
}

#u2114,#u1596,#u1590,#u1602,#u1614,#u2085-9
{
	background-color: transparent;
	position: relative;
}

#u2085-2
{
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
}

#u2085-3
{
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	color: #336699;
}

#u2085-7
{
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	color: #F6FFD5;
}

#u1829,#u1829-7,#u2085-5
{
	color: #F6FFD5;
}

